<html>
  <table>
    <thead><h4 class="pl-0 border-bottom">Comments:</h4></thead>
    <tr> <%= li.customerID -%> </tr>
    <%_ for (const com of coms) { -%>
      <tr class="mt=2">
        <th scope="row"><%= com.customerID -%>: </td>
        <td><%= com.text -%></td>
      </tr>
    <%_ } -%>
  </table>
  <form>
    <div class="input-group mt-3">
      <input type="text" class="form-control" name="text">
      <div class="input-group-append">
        <button type="submit" class="input-group-text">Comment</button>
      </div>
    </div>
  </form>
  <script>
    $('form').on('submit', function(event) {
      event.preventDefault();
      $.ajax({method: 'post', url: '/comments/<%= li._id -%>'})
        .done(() => window.location.reload())
        .fail(error => alert('Could not comment'));
  })
  </script>
</html>
