<!DOCTYPE html>
<html>
  <%- include('./head'); -%>

        <body>
            <main class="p-3">
                <div class="jumbotron jumbotron-fluid" id="header">
                  <div class="container">
                    <h1 class="display-4 mx-auto" style="width: 500px;">Create Your Account</h1>
                  </div>
                </div>
                <form class="mx-auto text-center" style="width: 300px;">

                  <input placeholder="Full name" class="form-control" type="text" id="name" name="name"><br>

                  <input placeholder="username" class="form-control" type="text" id="id" name="_id"><br>

                  <input placeholder="Location" class="form-control" type="text" id="location" name="location"><br>

                  <input placeholder="Phone number" class="form-control" type="text" id="phone" name="phone"><br>

                  <button class="create btn btn-primary">Done</button>

                </form>
            </main>
                <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
                <script>
                $(document).on('click', '.create', function(event) {
                  const form = $(this).closest('form');
                  event.preventDefault();

                  $.ajax({method: 'post', url: '/users', data: form.serialize()})
                    .done(() => window.location.replace('/'))
                    .fail(error => alert(error.responseText));
                  })
                </script>
              </body>
            </html>
