<!DOCTYPE html>
<html>
  <%- include('./head'); -%>

    <body>
            <main class="p-3">
                <form>
                  <input type="text" name="id">
                  <input type="text" name="username">
                  <input type="text" name="location">
                  <input type="text" name="phone number">
                </form>
            </main>
                <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        </body>
    </html>
