<!DOCTYPE html>
<html>
  <%- include('./head'); -%>

    <body>
            <div class="jumbotron jumbotron-fluid">
              <div class="container">
                <h1 class="display-4">Grocery Lists</h1>
                <p class="lead"> Welcome to the Grocery Lists website! Log in or sign up below.</p>
              </div>
            </div>
            <main>
              <div class="form-group mx-auto">
                <form>
                  <input type="text" name="id">
                  <button type="submit">Login</button>
                  <button type="button" id="create">Create an account</button>
                </form>
              </div>
            </main>
                <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
                <script> // Log in
                $('form').on('submit', function(event) {
                  const form = $(this);
                  event.preventDefault();
                  $.ajax({method: 'post', url: '/login', data: form.serialize()})
                  .done(() => window.location.replace('/lists'))
                  .fail(error => alert('Could not log in.'));
                })
                $('#create').on('click', function(event) {
                  const form = $(this);
                  event.preventDefault();
                  window.location.assign('create');
                })
                </script>
        </body>
    </html>
