<!DOCTYPE html>
<html>
  <%- include('./head'); -%>

    <body>
            <main class="p-3">
              <div class="jumbotron jumbotron-fluid">
                <div class="container">
                  <h1 class="display-4 mx-auto" style="width: 300px;">Grocery Lists</h1>
                  <p class="lead mx-auto" style="width: 550px;">Welcome to the Grocery Lists website! Login or sign up below.</p>
                </div>
              </div>
                <form class="mx-auto text-center" style="width: 350px;">

                    <!-- <div class="input-group mb-3">
                      <input type="text" name="id" class="form-control" placeholder="username" aria-label="username" aria-describedby="login">
                      <div class="input-group-append">
                        <button type="submit" class="btn btn-primary" id="login">Login</button>
                      </div>
                    </div>
                  -->
                  <div class="input-group mb-3">
                    <input type="text" name="id" class="form-control" placeholder="username" aria-label="username" aria-describedby="login">
                    <div class="input-group-append">
                      <button type="submit" class="btn btn-primary" id="login">Login</button>
                    </div>
                  </div>
                  <!--
                  <input placeholder="username" class="mb-5" type="text" name="id">
                  <button type="submit" class="btn btn-primary">Login</button>
                -->
                  <button type="button" id="create" class="btn btn-secondary">Create an account</button>
                </form>
            </main>
                <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
                <script> // Log in
                $('.input-group-append').on('submit', function(event) {
                  const form = $(this);
                  console.log("form: ", form);
                  event.preventDefault();
                  $.ajax({method: 'post', url: '/login', data: form.serialize()})
                  //.done(() => window.location.replace('/users'))
                  .fail(error => alert('Could not log in.'));
                })
                $('#create').on('click', function(event) {
                  const form = $(this);
                  event.preventDefault();
                  window.location.assign('create');
                })
                </script>
        </body>
    </html>
