<header class="navbar navbar-expand navbar-dark bg-dark">
  <h1 class="navbar-brand">Grocery List</h1>
  <nav class="navbar-nav ml-3">
    <a href="/user" class="nav-item nav-link <%= active === 'users' ? 'active' : 'inactive' -%>">Users</a>
    <a href="/list" class="nav-item nav-link <%= active === 'lists' ? 'active' : 'inactive' -%>">Lists</a>
  </nav>
</header>
